{lib_dirs,["deps"]}.

{deps, [
{lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
{'jsx', ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}},
{'gproc', ".*", {git, "https://github.com/uwiger/gproc.git", "master"}},
{'folsom', ".*", {git, "https://github.com/boundary/folsom.git", "master"}},
{'folsom_cowboy', ".*", {git, "https://github.com/boundary/folsom_cowboy.git", "master"}},
%{'vmstats', ".*", {git, "https://github.com/ferd/vmstats.git", "master"}},  
{'statsderl', ".*", {git, "https://github.com/lpgauth/statsderl.git", {tag, "0.3.1"}}},
{'ranch', ".*", {git, "https://github.com/extend/ranch.git", "0.6.0"}},
{'snappy', ".*", {git, "https://github.com/pmembrey/snappy-erlang-nif.git", "master"}},
{'erlbison', ".*", {git, "https://github.com/cakedb/erlbison.git", "master"}}
]}.

{sub_dirs,["rel"]}.
