{lib_dirs,["deps"]}.

{deps, [
{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
{'jsx', ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
{'gproc', ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
{'folsom', ".*", {git, "git://github.com/boundary/folsom.git", "master"}},
{'folsom_cowboy', ".*", {git, "git://github.com/boundary/folsom_cowboy.git", "master"}},
{'vmstats', ".*", {git, "git://github.com/ferd/vmstats.git", "master"}},  
{'statsderl', ".*", {git, "git://github.com/lpgauth/statsderl.git", "master"}},
{'ranch', ".*", {git, "git://github.com/extend/ranch.git", "master"}},
{'proper', ".*", {git, "git://github.com/manopapad/proper.git", "master"}},
{'snappy', ".*", {git, "git://github.com/fdmanana/snappy-erlang-nif.git", "master"}}
]}.

{sub_dirs,["rel"]}.
